<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heng.sync.reading.management.api.mapper.BookMetaInfoMapper">
  <resultMap id="BaseResultMap" type="com.heng.sync.reading.management.api.entity.BookMetaInfo">
    <!--@mbg.generated-->
    <!--@Table book_meta_info-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="book_id" jdbcType="VARCHAR" property="bookId" />
    <result column="book_title" jdbcType="VARCHAR" property="bookTitle" />
    <result column="book_authors" jdbcType="VARCHAR" property="bookAuthors" />
    <result column="book_description" jdbcType="LONGVARCHAR" property="bookDescription" />
    <result column="book_contents_count" jdbcType="INTEGER" property="bookContentsCount" />
    <result column="book_cover_url" jdbcType="LONGVARCHAR" property="bookCoverUrl" />
    <result column="book_opf_url" jdbcType="LONGVARCHAR" property="bookOpfUrl" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, book_id, book_title, book_authors, book_description, book_contents_count, book_cover_url, 
    book_opf_url, is_deleted
  </sql>

  <delete id="deleteByBookId" parameterType="string">
    delete from book_meta_info where book_id = #{bookId}
    </delete>
</mapper>